

/*
Global Variables
*/

:root {
    /*
    Color palette
    */

    --green: #9DCB68;
    --white: #ffffff;
    --dark-red: #5E0B15;
    --red: #90323D;
    --orange: hwb(34 20% 26%);
    --teks: #222222;
    --teks-shade: rgba(0, 0, 0, 0.4);
    --teks-shade-white: #ffffffe3;

    --green1: rgba(78,196,94,1);
    --green2: lighten($green-1, 10);
    --green3: lighten($green-1, 20);
    --green4: rgba(190,240,200,1);
}

html, body {
    font-family: Arial, sans-serif;
    background-image: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    color: var(--teks);
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2, h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
    color: var(--teks-shade);
}


/*
Scrollbar
*/
::-webkit-scrollbar {
    width: 5px;
    height: auto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 10px;
}



/*
Navbar Start ----------------------------------------------------------------
*/

.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fffff0;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 5px solid var(--dark-red);
    z-index: 100;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 100%;
}
.nav-logo img{
    width: 150px;
    height: auto;
    padding: 50px 0 0 0 ;
    background-color: white;
    border: 5px solid var(--dark-red);
    border-radius: 30%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav-menu {
    margin: 0 auto;
}
.nav-links {
    text-decoration: none;
    color: var(--teks-shade);
    transition: all 0.5;
}
.nav-links:hover {
    color: var(--green);
}
.nav-items li {
    transition: 0.3s;
}
.nav-items li:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-item {
    margin-right: 5px;
    padding: 10px 10px;
    padding: 0 20px;
}
.nav-icon {
    width: 30px;
    height: 30px;
    margin: 0 100px;
    cursor: pointer;
}

.nav-icon img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 50%;
}
.nav-icon img:hover {
    transform: scale(1.2) rotate(45deg);
    transition: 0.3s ease-in-out;
}



/*
Banner Start ----------------------------------------------------------------
*/

.banner {
    display: inline-block;
    width: 100%;
    height: auto;
}

.banner-container img{
    background: cover;
    min-width: 100%;
    position: relative;
}

.box1 {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
    color: var(--white);
    user-select: none;
}

.box1 h1{
    font-size: 100px;
    margin-left: -5px;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background-image: url('../assets/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite;
    /* line-height: 160px; */
    text-shadow: 0 10px 40px rgba(255, 255, 255, 0.747);
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.box1 h3 {
    font-size: 50px;
    font-weight: 100;
    margin-left: 0;
    color:#f5f5f59c;
    /* text-shadow: 0 4px 0 rgba(255, 255, 255, 0.2); */
}

.box1 p {
    margin-top: 0;
}

.box2 a{
    position: absolute;
    top: 75%;
    left: 97%;
    transform: translate(-50%, -50%);
}

#mouse-scroll {
    style: block;
}

#mouse-scroll {
    position: fixed;
    margin: auto;
    left: 50%;
    top: 80px;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
}

#mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
}

#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}

#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}

#mouse-croll .down-arrow-1 {
    -webkit-animation-delay: .1s; 
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #ffffff;
    position: relative;
}

#mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    } 
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*
News Start ----------------------------------------------------------------
*/


.card-container {
    margin: 82px 205px;
}

.card-container#mid {
    background-color: #fffff0;
    margin: 62px 180px;
    padding: 22px 25px;
    border-radius: 15px;
    position: relative;
}


.card-container h1 {
    font-weight: 900px;
    font-size: 40px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    margin-top: 40px;
    transition: .5s ease;
}

.card-grid {
    background: var(--white);
    border: 1px transparent;
    border-radius: 5px;
    overflow: hidden;
    height: 450px;
    cursor: pointer;
    transition: ease 0.4s;
    z-index: 2;
}

.card-grid:hover {
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px rgba(255, 215, 97, 0.48);
    background-color: #ffd861;
    transition: ease-in-out 0.4s;
    transform: translateY(-5px) scale(1.005) translateZ(0);
}


.card-grid .content {
    margin: 19px 0 25px 0;
}
.content h3 {
    font-size: 18px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
}
.desc {
    font-size: 12px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    white-space: normal;
}
.date {
    font-size: 10px;
}
.card-grid img {
    width: 100%;
    height: 228px;
    transition: 0.3s;
    text-align: center;
    object-fit: cover;
}

.desc {
    color: rgba(0, 0, 0, 0.75);
    text-align: left;
    max-height: 100px;
}

.card-grid .date, .desc, h3 {
    margin : 0 25px;
}

.btn a {
    display: inline-block;
    background-color: var(--green);
    width: fit-content;
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 15px;
    border: 2px transparent solid;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    font-weight: bold;
}
.btn a:hover {
    background-color: white;
    color: var(--green);
    border: 2px solid var(--green);
    transform: translateY(-2px);
}

.btn a {
    text-decoration: none;
    z-index: 2;
}

/* .btn a:hover {
    color: var(--white);
}    */


/*
Footer Start Here ----------------------------------------------------------------
*/


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--dark-red);
    color: var(--teks-shade-white);
}

.footer-container p {
    font-size: 16px;
    font-weight: 600px;
    color: white;
}

.box-left {
    text-align: left;
}

.box-left h2{
    color: white;
}

.anggota {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.anggota ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
    color: darkgrey;
    margin-bottom: 0;
}
.anggota li {
    padding: 2px 0;
}


.box-right {
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 309px;
}

.sect-1 .sosmed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 24px;
}

.sosmed img {
    height: 27px;
    width: auto;
    transition: 0.3s;
}

.sosmed-icon img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
}

.sosmed-icon img:hover {
    transform: scale(1.2) rotate(45deg);
    transition: 0.3s ease-in-out;
    fill: var(--green);
}

.sect-2 button {
    width: 100%;
    height: 30px;
    background-color: var(--green);
    color: var(--teks);
    font-weight: bolder;
    border-radius: 5px;
}

.box-center img {
    align-items: right;
}


/*
Pop-up Form ----------------------------------------------------------------
*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: top 0ms ease-in-out 0ms,
                opacity 0.5s ease-in-out 0ms,
                transform 0.3s ease-in-out 0ms;
}

.popup {
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    width: 380px;
    transform: translate(-50%, -50%) scale(1.25);
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 0ms,
                opacity 0.5s ease-in-out 0ms,
                transform 0.3s ease-in-out 0ms;
}

.overlay.active {
    z-index: 200;
    background-color: rgba(0, 0 , 0, 0.5);
    backdrop-filter: blur(5px);
    transition: top 0ms ease-in-out 0ms,
                opacity 0.5s ease-in-out 0ms,
                transform 0.3s ease-in-out 0ms;
}

.popup.active {
    z-index: 200;
    top: 50%;
    opacity:1;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms,
                opacity 0.5s ease-in-out 0ms,
                transform 0.3s ease-in-out 0ms;
}

.popup.active + .overlay {
    display: block;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0;
    font-size: 1.25rem;
    font-weight: 700;
}

.popup .form span {
    font-size: 0.725rem;
    max-width: 87%;
    text-align: center;
    line-height: 1.1rem;
    color: #8b8398;
    margin: 0 0 20px 0;
}

.form-element {
    margin: 15px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    position: relative;
}

.form-element label {
    position: absolute;
    left: 15px;
    font-size: 0.75rem;
    color: var(--teks-shade);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element .input {
    margin-top: 5px;
    display: block;
    width: auto;
    height: 5px;
    padding: 1rem;
    outline: none;
    border: solid 1.5px #9e9e9e;
    border-radius: 15px;
    background: none;
    font-size: 0.8rem;
    color: var(--teks);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-element .input:focus {
    border: 1.5px solid var(--green);
    outline: none;
    box-shadow: 0 0 0 0.5px var(--green);
    background-color: transparent;
}

.input:focus ~ label {
    transform: translateY(-10%) scale(0.9);
    background-color: white;
    padding: 0 .4em;
    color:var(--green);
}

#kritik {
    height: 4rem;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1rem 0.2rem 1rem;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form-element button:active {
    transform: scale(0.97);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
}



/*
Loader Start Here ----------------------------------------------------------------
*/
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in-out;
}

.loader {
    width: 200px;
    height: 60px;
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .circle {
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        background-color: #e7c93f;
        left: 15%;
        transform-origin: 50%;
        animation: circle7124 .5s alternate infinite ease;
        transition: opacity 1.5s, visibility 1.5s;
    }

    @keyframes circle7124 {
        0% {
            top: 60px;
            height: 5px;
            border-radius: 50px 50px 25px 25px;
            transform: scaleX(1.7);
        }   
        40% {
            height: 20px;
            border-radius: 50%;
            transform: scaleX(1);
        }   
        100% {
            top: 0%;
        }
    }

    .circle:nth-child(2) {
        left: 45%;
        animation-delay: .2s;
    }

    .circle:nth-child(3) {
        left: auto;
        right: 15%;
        animation-delay: .3s;
    }

    .shadow {
        width: 20px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 62px;
        transform-origin: 50%;
        z-index: -1;
        left: 15%;
        filter: blur(1px);
        animation: shadow046 .5s alternate infinite ease;
    }

    @keyframes shadow046 {
        0% {
            transform: scaleX(1.5);
        }
        
        40% {
            transform: scaleX(1);
            opacity: .7;
        }
        
        100% {
            transform: scaleX(.2);
            opacity: .4;
        }
    }

    .shadow:nth-child(4) {
        left: 45%;
        animation-delay: .2s
    }

    .shadow:nth-child(5) {
        left: auto;
        right: 15%;
        animation-delay: .3s;
    }

    .loader-hidden {
        opacity: 0;
        visibility: hidden;
        transition: all 0.7s ease-in-out;
    }
