
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 184.6rem;
}.heartyboozt-minimalist-counseling-mental-health-website-landing-2048x1365-1-MCR {
  width: 184.6rem;
  height: 108.4rem;
  position: relative;
  background-size: 110.943% 125.923%;
  background-position: -8.7rem -23.4rem;
  background-image: url('../assets/heartyboozt-minimalist-counseling-mental-health-website-landing-2048x1365-1.png');
}
