
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30.7rem;
}.inspirasi-wireframe-feM {
  width: 100%;
  height: 3.9rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
