
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.selected-article-d8d {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.selected-article-d8d .navbar-e3j {
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ {
  box-sizing: border-box;
  padding: 1.2rem 2.2rem 1.2rem 10rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .logo-pkq {
  margin-right: 2.8rem;
  width: 19rem;
  height: 7.8rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .nav-button-LjB {
  margin: 3rem 19.4rem 2.8rem 0rem;
  height: calc(100% - 5.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .nav-button-LjB .fashion-3tV {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .nav-button-LjB .beauty-jFX {
  margin-right: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .nav-button-LjB .entertainment-4Ho {
  margin-right: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .nav-button-LjB .life-guide-nUh {
  margin-right: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .nav-button-LjB .your-voice-Wfb {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-dz7p-vQZ .icon-qxm {
  width: 19rem;
  height: 5.6rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.selected-article-d8d .navbar-e3j .auto-group-cpfb-nt1 {
  width: 18.3rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(132, 132, 132, 0.5333333611);
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q {
  box-sizing: border-box;
  padding: 11.2rem 20.5rem 8.9rem 20.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo {
  margin-bottom: 6.4rem;
  width: 100%;
  height: 262.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs {
  margin-right: 1.8rem;
  width: 61.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .auto-group-aquq-qE1 {
  box-sizing: border-box;
  padding-bottom: 4.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .auto-group-aquq-qE1 .kembali-merasakan-jatuh-cinta-B2y {
  margin-bottom: 2.3rem;
  max-width: 46.5rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .auto-group-aquq-qE1 .article-writer-qFw {
  margin: 0rem 38.1rem 0rem 0.6rem;
  width: calc(100% - 38.7rem);
  height: 7.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .auto-group-aquq-qE1 .article-writer-qFw .profile-picture-w45 {
  margin-right: 2.8rem;
  width: 7.1rem;
  height: 7.1rem;
  background-color: #d9d9d9;
  border-radius: 3.55rem;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .auto-group-aquq-qE1 .article-writer-qFw .auto-group-y89w-ez5 {
  margin: 1.6rem 0rem 1.5rem 0rem;
  height: calc(100% - 3.1rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .auto-group-aquq-qE1 .article-writer-qFw .auto-group-y89w-ez5 .sartika-nuralifah-b8d {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .auto-group-aquq-qE1 .article-writer-qFw .auto-group-y89w-ez5 .november-2023-iDF {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 {
  box-sizing: border-box;
  padding-bottom: 4.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.2rem #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 .rectangle-25-aFT {
  margin-bottom: 2.2rem;
  width: 61rem;
  height: 50rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-v4R {
  margin-bottom: 3.4rem;
  max-width: 60.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.0050001144;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-r6V {
  margin: 0rem 0rem 3.4rem 0.3rem;
  max-width: 60.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.0050001144;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 .rectangle-26-Lvm {
  margin-bottom: 2.3rem;
  width: 61rem;
  height: 50rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-Un5 {
  margin-bottom: 2.2rem;
  max-width: 60.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.0050001144;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-eKB {
  margin-bottom: 2.2rem;
  max-width: 60.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.0050001144;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .auto-group-qhv1-Jjs .body-article-dr1 .editor-indri-wulandari-RDT {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.0050001144;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s {
  margin-top: 4.6rem;
  width: 40rem;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .other-articles-TR3 {
  margin-bottom: 4.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-PpV {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 2.1rem 1.8rem 3.3rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #d9d9d9;
  border-radius: 1.5rem;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-PpV .photo-article-7kV {
  margin-right: 2.5rem;
  width: 12.5rem;
  height: 12.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-PpV .auto-group-kc73-TZT {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-PpV .auto-group-kc73-TZT .seni-sebagai-medium-edukasi-kesehatan-mental-QzV {
  margin-bottom: 0.5rem;
  max-width: 21.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-PpV .auto-group-kc73-TZT .november-2023-LNM {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #848484;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-FER {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 2.1rem 1.8rem 3.3rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #d9d9d9;
  border-radius: 1.5rem;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-FER .photo-article-B85 {
  margin-right: 2.5rem;
  width: 12.5rem;
  height: 12.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-FER .auto-group-e6nu-83K {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-FER .auto-group-e6nu-83K .seni-sebagai-medium-edukasi-kesehatan-mental-5DT {
  margin-bottom: 0.5rem;
  max-width: 21.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-FER .auto-group-e6nu-83K .november-2023-CJ5 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #848484;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-W3s {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 2.1rem 1.8rem 3.3rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #d9d9d9;
  border-radius: 1.5rem;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-W3s .photo-article-deH {
  margin-right: 2.5rem;
  width: 12.5rem;
  height: 12.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-W3s .auto-group-cpx7-yTF {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-W3s .auto-group-cpx7-yTF .seni-sebagai-medium-edukasi-kesehatan-mental-Xjf {
  margin-bottom: 0.5rem;
  max-width: 21.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-W3s .auto-group-cpx7-yTF .november-2023-3xu {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #848484;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-NEV {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 2.1rem 1.8rem 3.3rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #d9d9d9;
  border-radius: 1.5rem;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-NEV .photo-article-tTj {
  margin-right: 2.5rem;
  width: 12.5rem;
  height: 12.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-NEV .auto-group-tssh-q85 {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-NEV .auto-group-tssh-q85 .seni-sebagai-medium-edukasi-kesehatan-mental-mnR {
  margin-bottom: 0.5rem;
  max-width: 21.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-NEV .auto-group-tssh-q85 .november-2023-Hkm {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #848484;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-ajs {
  box-sizing: border-box;
  padding: 2.1rem 1.8rem 3.3rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #d9d9d9;
  border-radius: 1.5rem;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-ajs .photo-article-v33 {
  margin-right: 2.5rem;
  width: 12.5rem;
  height: 12.5rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-ajs .auto-group-hmxf-fFX {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-ajs .auto-group-hmxf-fFX .seni-sebagai-medium-edukasi-kesehatan-mental-cgZ {
  margin-bottom: 0.5rem;
  max-width: 21.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .auto-group-jcyy-yBo .other-articles-87s .news-card-ajs .auto-group-hmxf-fFX .november-2023-8eu {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #848484;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj {
  margin-right: 42rem;
  width: calc(100% - 42rem);
  height: 35.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-advk-BNH {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-advk-BNH .must-reads-jub {
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-advk-BNH .card-news-5Tf {
  box-sizing: border-box;
  padding-bottom: 3.4rem;
  width: 19rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-advk-BNH .card-news-5Tf .article-photo-Dpm {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 14.8rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem 1.5rem 0 0;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-advk-BNH .card-news-5Tf .seni-sebagai-medium-edukasi-kesehatan-mental-9iR {
  max-width: 16.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-cwku-d7o {
  box-sizing: border-box;
  padding-top: 6.3rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-cwku-d7o .card-news-a33 {
  margin-right: 2rem;
  box-sizing: border-box;
  padding-bottom: 3.4rem;
  width: 19rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-cwku-d7o .card-news-a33 .article-photo-WhP {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 14.8rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem 1.5rem 0 0;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-cwku-d7o .card-news-a33 .seni-sebagai-medium-edukasi-kesehatan-mental-Sb3 {
  max-width: 16.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-cwku-d7o .card-news-XMb {
  box-sizing: border-box;
  padding-bottom: 3.4rem;
  width: 19rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-cwku-d7o .card-news-XMb .article-photo-rem {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 14.8rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem 1.5rem 0 0;
  flex-shrink: 0;
}
.selected-article-d8d .auto-group-pgur-44q .must-reads-FDj .auto-group-cwku-d7o .card-news-XMb .seni-sebagai-medium-edukasi-kesehatan-mental-noK {
  max-width: 16.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 {
  box-sizing: border-box;
  padding: 3.1rem 10rem 2.4rem 10rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 7.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .logo-LyF {
  margin-right: 54.5rem;
  width: 19rem;
  height: 6.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy {
  width: 50.5rem;
  height: 100%;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy .auto-group-kmi9-SmP {
  margin: 0rem 1.8rem 1.2rem 0rem;
  width: calc(100% - 1.8rem);
  display: flex;
  align-items: center;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy .auto-group-kmi9-SmP .stay-connected-BDB {
  margin-right: 8.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy .auto-group-kmi9-SmP .stay-update-and-more-into-your-box-7cd {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy .auto-group-ar97-e6m {
  width: 100%;
  height: 4.7rem;
  display: flex;
  align-items: center;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy .auto-group-ar97-e6m .icon-medsos-nyf {
  margin-right: 2rem;
  width: 19rem;
  height: 3.9rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy .auto-group-ar97-e6m .rectangle-23-w5s {
  margin-right: 0.4rem;
  width: 19rem;
  height: 4.7rem;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-qs2h-Cc9 .stay-connected-tUy .auto-group-ar97-e6m .auto-group-tnot-4RP {
  width: 10.1rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu {
  margin: 0rem 33.7rem 1.7rem 0rem;
  width: calc(100% - 33.7rem);
  height: 16.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .mental-health-office-FVs {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .mental-health-office-FVs .mental-health-office-QNm {
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .mental-health-office-FVs .jl-mampang-prapatan-raya-no-75-jakarta-12790-indonesia-w7o {
  margin-bottom: 2.2rem;
  max-width: 26.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .mental-health-office-FVs .view-map-qDB {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .auto-group-a9nr-NU1 {
  box-sizing: border-box;
  padding-left: 5.1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .auto-group-a9nr-NU1 .mhealth-uyj {
  margin-right: 32.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .auto-group-a9nr-NU1 .mhealth-uyj .mhealth-fT7 {
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .auto-group-a9nr-NU1 .mhealth-uyj .about-contact-carreer-internship-Cxq {
  max-width: 7.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .auto-group-a9nr-NU1 .mhealth-menu-85o {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .auto-group-a9nr-NU1 .mhealth-menu-85o .mhealth-menu-fbX {
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .auto-group-zrrr-LNu .auto-group-a9nr-NU1 .mhealth-menu-85o .fashio-beauty-life-guide-your-voice-1fP {
  max-width: 8.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .credit-Kg5 {
  box-sizing: border-box;
  padding: 1.2rem 38.1rem 0rem 37.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  border-top: solid 0.1rem #848484;
  flex-shrink: 0;
}
.selected-article-d8d .footer-Ug9 .credit-Kg5 .credit-Kg5-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
}
.selected-article-d8d .footer-Ug9 .credit-Kg5 .credit-Kg5-sub-1 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
}
