
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-Su3 {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .navbar-tFF {
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 13.9rem 1.2rem 10rem;
    width: 100%;
    height: 10.2rem;

    .logo-vbF {
      width: 19rem;
      height: 100%;
      line-height: 1.2125;
      align-items: center;
      justify-content: center;
      color: #000000;
      white-space: nowrap;
      font-size: 4rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 16.3rem;
      display: flex;
      font-weight: 900;
      background-color: #ffffff;
    }
    .nav-button-iX7 {
      margin: 3rem 16.6rem 2.8rem 0rem;
      height: calc(100% - 5.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .self-love-pKF {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.8rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .society-YFF {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .relationship-thoughts-sHX {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.7rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .about-us-n9b {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
      }
    }
    .bell-1-Vph {
      margin-bottom: 0.0004rem;
      width: 1.8rem;
      height: 1.9996rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .banner-1Y9 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 17.2rem 45.15rem 21.6rem 45.15rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 197, 197, 0.8666666746);

    .mental-health-Wzh {
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      margin-bottom: 2.6rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 6.4rem;
    }
    .find-your-light-ignite-your-soul-S7f {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-npwx-vHj {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.4rem 20.4rem 3.5rem 20.5rem;

    .featured-event-Qih {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 8.2rem;
      width: 100%;

      .auto-group-91y9-YK7 {
        box-sizing: border-box;
        padding-bottom: 4.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .featured-event-scH {
          font-size: 4.8rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
        }
        .line-1-zgu {
          width: 103rem;
          height: 0.1rem;
          background-color: #848484;
          flex-shrink: 0;
        }
      }
      .auto-group-3kyb-wMF {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .rectangle-20-Hg1 {
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 12.5rem;
          width: 40rem;
          height: 40rem;
          background-color: #d9d9d9;
        }
        .auto-group-9gs9-CY5 {
          width: 50.6rem;
          flex-shrink: 0;

          .pendaftaran-event-2023-challenge-1-9TK {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 3.5rem;
            max-width: 44.1rem;
            font-size: 3.6rem;
          }
          .cek-syarat-dan-ketentuan-pendaftaran-event-2023-di-sini-QnZ {
            max-width: 50.6rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 3.4rem;
          }
          .auto-group-gogy-X6V {
            margin-right: 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;

            .rectangle-21-fTb {
              flex-shrink: 0;
              margin: 0.8rem 12.5rem 0rem 0rem;
              width: 19rem;
              height: 3.2rem;
              background-color: #d9d9d9;
            }
            .button-Nso {
              border-radius: 1rem;
              flex-shrink: 0;
              width: 19rem;
              height: 7.2rem;
              background-color: #d9d9d9;
            }
          }
        }
      }
    }
    .news-card-hfB {
      flex-shrink: 0;
      margin: 0rem 0.1rem 6.3rem 0rem;
      width: 103rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;

      .self-Q3o {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 81.3rem 3.8rem 0rem;
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
      }
      .auto-group-xapm-X8R {
        margin-bottom: 5.9rem;
        width: 100%;
        height: 43.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .card-1-rwP {
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 5.2rem;
          width: 31.5rem;

          .photo-ord {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-Z57 {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
          }
          .november-2023-ra1 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.6rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-y8q {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
          }
        }
        .card-2-mqP {
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 3.3rem;
          width: 31.5rem;

          .photo-iVj {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-G1T {
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
          }
          .november-2023-ZmF {
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.6rem;
            font-size: 1rem;
            font-weight: 400;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-VQ1 {
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
          }
        }
        .card-3-XrV {
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 31.5rem;

          .photo-gzH {
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
            margin-bottom: 1.9rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-d8q {
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
          }
          .november-2023-vtd {
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-rXP {
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
          }
        }
      }
      .view-all-6Rj {
        font-weight: 500;
        line-height: 1.5052274068;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
      }
    }
    .news-card-Riu {
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 6.3rem 0rem;
      width: 103rem;
      align-items: flex-end;

      .self-MsT {
        margin: 0rem 84.9rem 3.8rem 0rem;
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-ager-Fhw {
        width: 100%;
        height: 43.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 5.9rem;

        .card-1-ytq {
          width: 31.5rem;
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 5.2rem;

          .photo-vJH {
            height: 22.8rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
            margin-bottom: 1.9rem;
            width: 100%;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-3th {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
          }
          .november-2023-9Rw {
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-GFf {
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .card-2-fob {
          margin-right: 3.3rem;
          width: 31.5rem;
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .photo-1Mf {
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
            margin-bottom: 1.9rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-Luj {
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
          }
          .november-2023-3JM {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-ZGh {
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .card-3-PmX {
          width: 31.5rem;
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .photo-YPX {
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
            margin-bottom: 1.9rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-5uF {
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
          }
          .november-2023-BBb {
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-Vxy {
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
          }
        }
      }
      .view-all-Lih {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5052274068;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .news-card-GMT {
      width: 103rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-right: 0.1rem;

      .self-zoF {
        flex-shrink: 0;
        margin: 0rem 44.8rem 3.8rem 0rem;
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-fpky-77B {
        margin-bottom: 5.9rem;
        width: 100%;
        height: 43.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .card-1-Ehb {
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 5.2rem;
          width: 31.5rem;

          .photo-yv5 {
            border-radius: 0.5rem;
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-XRo {
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
          }
          .november-2023-1rm {
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-jXs {
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .card-2-ZWu {
          margin-right: 3.3rem;
          width: 31.5rem;
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .photo-ht1 {
            border-radius: 0.5rem;
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-3BB {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
          }
          .november-2023-jZo {
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-Sj7 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
          }
        }
        .card-3-UA1 {
          width: 31.5rem;
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .photo-R5F {
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
            margin-bottom: 1.9rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-Li1 {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
          }
          .november-2023-EYV {
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-who {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
          }
        }
      }
      .view-all-yeV {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5052274068;
        color: #000000;
      }
    }
  }
  .footer-Hv5 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 10rem 2.4rem 10rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;

    .auto-group-rydb-DHw {
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      width: 100%;
      height: 7.9rem;
      display: flex;
      align-items: flex-start;

      .logo-k2y {
        height: 6.7rem;
        justify-content: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-weight: 900;
        line-height: 1.2125;
        background-color: #ffffff;
        margin-right: 54.5rem;
        width: 19rem;
        white-space: nowrap;
      }
      .stay-connected-CvZ {
        width: 50.5rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-1qfp-xPw {
          margin: 0rem 1.8rem 1.2rem 0rem;
          width: calc(100% - 1.8rem);
          display: flex;
          align-items: center;

          .stay-connected-HBK {
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.6rem;
            font-size: 1.6rem;
          }
          .stay-update-and-more-into-your-box-QFw {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-fjhf-L9b {
          width: 100%;
          height: 4.7rem;
          display: flex;
          align-items: center;

          .medsos-svD {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.3000000119);
            flex-shrink: 0;
            margin: 0.4rem 2rem 0.4rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.4rem 0.9rem 1.3rem;
            height: calc(100% - 0.8rem);

            .instagram-1-yTT {
              flex-shrink: 0;
              margin-right: 2.8rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .youtube-1-h8Z {
              margin: 0rem 2.7rem 0.054rem 0rem;
              width: 2.2001rem;
              height: 1.546rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .twitter-1-1f3 {
              flex-shrink: 0;
              margin: 0rem 3.3rem 0.008rem 0rem;
              width: 2.2rem;
              height: 1.7944rem;
              object-fit: contain;
              vertical-align: top;
            }
            .facebook-1-w2u {
              width: 1.1rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .rectangle-23-fDo {
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 19rem;
            height: 4.7rem;
            border: solid 0.3rem #ffffff;
          }
          .auto-group-gu9t-yVP {
            width: 10.1rem;
            height: 100%;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            color: #000000;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-rmgy-q1o {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 32.1rem 2.9rem 0rem;
      width: calc(100% - 32.1rem);
      height: 14.9rem;

      .mental-health-office-j7B {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 53.5rem;
        height: 100%;

        .group-29-jakarta-sUH {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
        }
        .celvin-heni-puput-safira-sofian-zadan-PSd {
          margin-bottom: 2.9rem;
          max-width: 12.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: rgba(0, 0, 0, 0.6000000238);
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .revou-x-msib-batch-5-hTK {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .mhealth-menu-DwT {
        flex-direction: column;
        flex-shrink: 0;
        display: flex;

        .mhealth-menu-PL9 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
        }
        .relationship-thoughts-self-love-society-about-us-tXo {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 18.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
    .credit-zKw {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border-top: solid 0.1rem #848484;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.2rem 38.1rem 0rem 37.5rem;
      line-height: 1.2102272851;
      color: rgba(0, 0, 0, 0.6000000238);
      display: flex;
      align-items: baseline;

      .credit-zKw-sub-0 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.6000000238);
        font-family: Inter, 'Source Sans Pro';
      }
      .credit-zKw-sub-1 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.6000000238);
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
