
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.selected-article-RUR {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .navbar-XnM {
    margin-bottom: 11.1rem;
    width: 100%;
    height: 10.2rem;
    display: flex;
    box-sizing: border-box;
    padding: 1.2rem 13.9rem 1.2rem 10rem;
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .logo-RMw {
      justify-content: center;
      font-size: 4rem;
      flex-shrink: 0;
      margin-right: 16.3rem;
      width: 19rem;
      display: flex;
      line-height: 1.2125;
      height: 100%;
      align-items: center;
      font-weight: 900;
      font-family: Inter, 'Source Sans Pro';
      background-color: #ffffff;
      color: #000000;
      white-space: nowrap;
    }
    .nav-button-sjj {
      margin: 3rem 16.6rem 2.8rem 0rem;
      height: calc(100% - 5.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .self-love-nrh {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.8rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .society-Wnh {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.7rem;
      }
      .relationship-thoughts-r5s {
        flex-shrink: 0;
        margin-right: 6.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .about-us-aGm {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
    .bell-1-hcH {
      margin-bottom: 0.0004rem;
      width: 1.8rem;
      height: 1.9996rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-b5kt-R2V {
    width: calc(100% - 29.5rem);
    height: 304rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 10rem 9rem 19.5rem;

    .body-XLR {
      margin-right: 13.2rem;
      width: 61.3rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-pyyj-UFf {
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 4.2rem;
        width: 100%;
        display: flex;

        .kembali-merasakan-jatuh-cinta-Qv1 {
          max-width: 46.5rem;
          font-size: 4.8rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.3rem;
        }
        .article-writer-iQu {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 38.2rem 0rem 0.6rem;
          width: calc(100% - 38.8rem);
          height: 7.1rem;

          .profile-picture-bUh {
            height: 7.1rem;
            background-color: #d9d9d9;
            border-radius: 3.55rem;
            flex-shrink: 0;
            margin-right: 2.8rem;
            width: 7.1rem;
          }
          .auto-group-zqt3-gFF {
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.6rem 0rem 1.5rem 0rem;
            height: calc(100% - 3.1rem);
            display: flex;

            .sartika-nuralifah-o4y {
              margin-bottom: 0.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .november-2023-jDX {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5052272797;
              color: #848484;
            }
          }
        }
      }
      .body-article-rJ9 {
        padding-bottom: 4.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: solid 0.2rem #d9d9d9;
        border-radius: 0.5rem;
        margin-bottom: 6.4rem;
        box-sizing: border-box;

        .rectangle-25-yNm {
          margin-bottom: 2.2rem;
          width: 61rem;
          height: 50rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-6CV {
          font-weight: 400;
          line-height: 2.0050001144;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 3.4rem;
          max-width: 60.9rem;
          font-size: 2rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-DwK {
          flex-shrink: 0;
          margin: 0rem 0rem 3.4rem 0.3rem;
          max-width: 60.9rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2.0050001144;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .rectangle-26-xGd {
          margin-bottom: 2.3rem;
          width: 61rem;
          height: 50rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-rcu {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          max-width: 60.9rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2.0050001144;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-pCM {
          margin-bottom: 2.2rem;
          max-width: 60.9rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2.0050001144;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .editor-indri-wulandari-xxm {
          font-weight: 600;
          line-height: 2.0050001144;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4rem;
          font-size: 2.4rem;
        }
      }
      .must-reads-Fws {
        margin-right: 0.3rem;
        width: calc(100% - 0.3rem);
        height: 35.1rem;
        display: flex;
        align-items: center;

        .auto-group-dkfj-PoB {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .must-reads-9nM {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            font-size: 3.2rem;
            font-weight: 600;
          }
          .card-news-V5X {
            box-sizing: border-box;
            padding-bottom: 3.4rem;
            width: 19rem;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            display: flex;
            border: solid 0.1rem #d9d9d9;
            border-radius: 1.5rem;

            .article-photo-RUy {
              background-color: #d9d9d9;
              border-radius: 1.5rem 1.5rem 0 0;
              flex-shrink: 0;
              margin-bottom: 0.9rem;
              width: 100%;
              height: 14.8rem;
            }
            .seni-sebagai-medium-edukasi-kesehatan-mental-9Qy {
              flex-shrink: 0;
              max-width: 16.6rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-a1em-dL9 {
          padding-top: 6.3rem;
          height: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          box-sizing: border-box;

          .card-news-yQ1 {
            border-radius: 1.5rem;
            flex-shrink: 0;
            margin-right: 2rem;
            padding-bottom: 3.4rem;
            width: 19rem;
            height: 100%;
            display: flex;
            border: solid 0.1rem #d9d9d9;
            box-sizing: border-box;
            align-items: center;
            flex-direction: column;

            .article-photo-WPw {
              margin-bottom: 0.9rem;
              width: 100%;
              height: 14.8rem;
              background-color: #d9d9d9;
              border-radius: 1.5rem 1.5rem 0 0;
              flex-shrink: 0;
            }
            .seni-sebagai-medium-edukasi-kesehatan-mental-S2h {
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 16.6rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .card-news-viZ {
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            display: flex;
            flex-shrink: 0;
            padding-bottom: 3.4rem;
            width: 19rem;
            flex-direction: column;
            border: solid 0.1rem #d9d9d9;
            border-radius: 1.5rem;

            .article-photo-TyP {
              background-color: #d9d9d9;
              border-radius: 1.5rem 1.5rem 0 0;
              flex-shrink: 0;
              margin-bottom: 0.9rem;
              width: 100%;
              height: 14.8rem;
            }
            .seni-sebagai-medium-edukasi-kesehatan-mental-b41 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 16.6rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
        }
      }
    }
    .other-articles-UNh {
      width: 40rem;
      flex-shrink: 0;

      .other-articles-17j {
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 4.4rem;
        font-size: 2rem;
      }
      .news-card-j3j {
        border-radius: 1.5rem;
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding: 2.1rem 1.8rem 3.3rem 1.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.2rem #d9d9d9;

        .photo-article-3KK {
          margin-right: 2.5rem;
          width: 12.5rem;
          height: 12.5rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .auto-group-mdzf-NMb {
          margin-bottom: 2.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .seni-sebagai-medium-edukasi-kesehatan-mental-v8D {
            margin-bottom: 0.5rem;
            max-width: 21.5rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .november-2023-qW5 {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .news-card-k7F {
        display: flex;
        align-items: center;
        border: solid 0.2rem #d9d9d9;
        border-radius: 1.5rem;
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding: 2.1rem 1.8rem 3.3rem 1.7rem;
        width: 100%;

        .photo-article-GbP {
          flex-shrink: 0;
          margin-right: 2.5rem;
          width: 12.5rem;
          height: 12.5rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
        }
        .auto-group-mvym-13B {
          margin-bottom: 2.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .seni-sebagai-medium-edukasi-kesehatan-mental-kWZ {
            margin-bottom: 0.5rem;
            max-width: 21.5rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .november-2023-533 {
            font-weight: 400;
            line-height: 1.5052274068;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
          }
        }
      }
      .news-card-akV {
        align-items: center;
        border: solid 0.2rem #d9d9d9;
        border-radius: 1.5rem;
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding: 2.1rem 1.8rem 3.3rem 1.7rem;
        width: 100%;
        display: flex;

        .photo-article-Heu {
          flex-shrink: 0;
          margin-right: 2.5rem;
          width: 12.5rem;
          height: 12.5rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
        }
        .auto-group-u2rh-cSH {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.8rem;

          .seni-sebagai-medium-edukasi-kesehatan-mental-ZcR {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            max-width: 21.5rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .november-2023-GWq {
            line-height: 1.5052274068;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
      .news-card-aXX {
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding: 2.1rem 1.8rem 3.3rem 1.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.2rem #d9d9d9;
        border-radius: 1.5rem;

        .photo-article-hs3 {
          height: 12.5rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 2.5rem;
          width: 12.5rem;
        }
        .auto-group-axo3-2uK {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.8rem;

          .seni-sebagai-medium-edukasi-kesehatan-mental-afw {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            max-width: 21.5rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .november-2023-7A5 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .news-card-paH {
        box-sizing: border-box;
        padding: 2.1rem 1.8rem 3.3rem 1.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.2rem #d9d9d9;
        border-radius: 1.5rem;

        .photo-article-9cZ {
          margin-right: 2.5rem;
          width: 12.5rem;
          height: 12.5rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .auto-group-nq33-tKF {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.8rem;

          .seni-sebagai-medium-edukasi-kesehatan-mental-dXj {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            max-width: 21.5rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .november-2023-xa1 {
            font-weight: 400;
            line-height: 1.5052274068;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .footer-fjK {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 10rem 2.4rem 10rem;
    width: 100%;

    .auto-group-ypdj-nZ3 {
      margin-bottom: 1.6rem;
      width: 100%;
      height: 7.9rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .logo-Wjw {
        width: 19rem;
        justify-content: center;
        font-size: 4rem;
        align-items: center;
        font-weight: 900;
        color: #000000;
        margin-right: 54.5rem;
        height: 6.7rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        background-color: #ffffff;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .stay-connected-Poj {
        width: 50.5rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-etdb-YRj {
          margin: 0rem 1.8rem 1.2rem 0rem;
          width: calc(100% - 1.8rem);
          display: flex;
          align-items: center;

          .stay-connected-sU1 {
            flex-shrink: 0;
            margin-right: 8.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .stay-update-and-more-into-your-box-D25 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-kdmf-LcV {
          width: 100%;
          height: 4.7rem;
          display: flex;
          align-items: center;

          .medsos-Uyb {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.3000000119);
            flex-shrink: 0;
            margin: 0.4rem 2rem 0.4rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.4rem 0.9rem 1.3rem;
            height: calc(100% - 0.8rem);

            .instagram-1-P4y {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.8rem;
              width: 2rem;
            }
            .youtube-1-iN9 {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2.7rem 0.054rem 0rem;
              width: 2.2001rem;
              height: 1.546rem;
              object-fit: contain;
            }
            .twitter-1-RnM {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 3.3rem 0.008rem 0rem;
              width: 2.2rem;
              height: 1.7944rem;
            }
            .facebook-1-k3w {
              width: 1.1rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .rectangle-23-4KX {
            border: solid 0.3rem #ffffff;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 19rem;
            height: 4.7rem;
          }
          .auto-group-wxz9-AtM {
            display: flex;
            align-items: center;
            width: 10.1rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.2125;
            background-color: #ffffff;
            border-radius: 0.5rem;
            font-weight: 400;
            justify-content: center;
          }
        }
      }
    }
    .auto-group-cuy1-rWH {
      margin: 0rem 32.1rem 2.9rem 0rem;
      width: calc(100% - 32.1rem);
      height: 14.9rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .mental-health-office-yL1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 53.5rem;

        .group-29-jakarta-vFF {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 500;
        }
        .celvin-heni-puput-safira-sofian-zadan-qt1 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: rgba(0, 0, 0, 0.6000000238);
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.9rem;
          max-width: 12.3rem;
        }
        .revou-x-msib-batch-5-xSq {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
      .mhealth-menu-Vhf {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mhealth-menu-Fwj {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
        }
        .relationship-thoughts-self-love-society-about-us-oCZ {
          flex-shrink: 0;
          max-width: 18.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .credit-WMs {
      align-items: baseline;
      box-sizing: border-box;
      padding: 1.2rem 38.1rem 0rem 37.5rem;
      width: 100%;
      line-height: 1.2102272851;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 1.4rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6000000238);
      border-top: solid 0.1rem #848484;
      flex-shrink: 0;

      .credit-WMs-sub-0 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.6000000238);
        font-family: Inter, 'Source Sans Pro';
      }
      .credit-WMs-sub-1 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.6000000238);
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
