html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  
  width: 144rem;
}
.main-Su3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
/* NAVBAR START */
.main-Su3 .navbar-tFF {
  display: flex;
  padding: 1.2rem 7%;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}
.logo-vbF img {
  max-width: 120%; /* Set the maximum width to 100% of the container */
  max-height: 95px; /* Set the maximum height to 100 pixels, adjust as needed */
  /* Add any other styling properties as needed */
}
.logo-k2y img {
  max-width: 100%; /* Set the maximum width to 100% of the container */
  max-height: 110px; /* Set the maximum height to 100 pixels, adjust as needed */
  /* Add any other styling properties as needed */
}
.main-Su3 .navbar-tFF .logo-vbF {
  margin-right: 16.3rem;
  width: 19rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  /* background-color: #ffffff; */
  flex-shrink: 0;
}
.main-Su3 .navbar-tFF .nav-button-iX7 {
  margin: 3rem 16.6rem 2.8rem 0rem;
  height: calc(100% - 5.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-Su3 .navbar-tFF .nav-button-iX7 a{
  color: #000000;
  display: inline-block;
  font-size: 1,3rem;
  margin: 0;

}
.main-Su3 .navbar-tFF .nav-button-iX7 a:hover {
  color:deeppink
}
.main-Su3 .navbar-tFF .nav-button-iX7 a::after{
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid deeppink;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.main-Su3 .navbar-tFF .nav-button-iX7 a:hover::after{
  transform: scaleX(0.5);
}
.main-Su3 .navbar-tFF .nav-button-iX7 .self-love-pKF {
  margin-right: 6.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .navbar-tFF .nav-button-iX7 .society-YFF {
  margin-right: 6.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .navbar-tFF .nav-button-iX7 .relationship-thoughts-sHX {
  margin-right: 6.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .navbar-tFF .nav-button-iX7 .about-us-n9b {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.main-Su3 .navbar-tFF .bell-1-Vph {
  margin-bottom: 0.0004rem;
  width: 1.8rem;
  height: 1.9996rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
/* NAVBAR END*/

.main-Su3 .banner-1Y9 {
  box-sizing: border-box;
  padding: 17.2rem 45.15rem 21.6rem 45.15rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(226, 197, 220, 0.867);
  flex-shrink: 0;
}
.main-Su3 .banner-1Y9 .mental-health-Wzh {
  margin-bottom: 2.6rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .banner-1Y9 .mental-health-Wzh span {
color: deeppink;
}
.main-Su3 .banner-1Y9 .find-your-light-ignite-your-soul-S7f {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj {
  box-sizing: border-box;
  padding: 6.4rem 20.4rem 3.5rem 20.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .featured-event-Qih {
  margin-bottom: 8.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .featured-event-Qih .auto-group-91y9-YK7 {
  box-sizing: border-box;
  padding-bottom: 4.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-hfB {
  margin: 0rem 0.1rem 6.3rem 0rem;
  width: 103rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-hfB .self-Q3o {
  margin: 0rem 81.3rem 3.8rem 0rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-hfB .auto-group-xapm-X8R {
  margin-bottom: 5.9rem;
  width: 100%;
  height: 43.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-hfB .auto-group-xapm-X8R .card-1-rwP {
  margin-right: 5.2rem;
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-1-rwP
  .photo-ord {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-1-rwP
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-Z57 {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-1-rwP
  .november-2023-ra1 {
  margin: 0rem 0rem 0.3rem 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-1-rwP
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-y8q {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-hfB .auto-group-xapm-X8R .card-2-mqP {
  margin-right: 3.3rem;
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-2-mqP
  .photo-iVj {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-2-mqP
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-G1T {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-2-mqP
  .november-2023-ZmF {
  margin: 0rem 0rem 0.3rem 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-2-mqP
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-VQ1 {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-hfB .auto-group-xapm-X8R .card-3-XrV {
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-3-XrV
  .photo-gzH {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-3-XrV
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-d8q {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-3-XrV
  .november-2023-vtd {
  margin: 0rem 0rem 0.3rem 1.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-hfB
  .auto-group-xapm-X8R
  .card-3-XrV
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-rXP {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-hfB .view-all-6Rj {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-Riu {
  margin: 0rem 0.1rem 6.3rem 0rem;
  width: 103rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-Riu .self-MsT {
  margin: 0rem 84.9rem 3.8rem 0rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-Riu .auto-group-ager-Fhw {
  margin-bottom: 5.9rem;
  width: 100%;
  height: 43.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-Riu .auto-group-ager-Fhw .card-1-ytq {
  margin-right: 5.2rem;
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-1-ytq
  .photo-vJH {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-1-ytq
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-3th {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-1-ytq
  .november-2023-9Rw {
  margin: 0rem 0rem 0.3rem 1.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-1-ytq
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-GFf {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-Riu .auto-group-ager-Fhw .card-2-fob {
  margin-right: 3.3rem;
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-2-fob
  .photo-1Mf {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-2-fob
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-Luj {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-2-fob
  .november-2023-3JM {
  margin: 0rem 0rem 0.3rem 1.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-2-fob
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-ZGh {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-Riu .auto-group-ager-Fhw .card-3-PmX {
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-3-PmX
  .photo-YPX {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-3-PmX
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-5uF {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-3-PmX
  .november-2023-BBb {
  margin: 0rem 0rem 0.3rem 1.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-Riu
  .auto-group-ager-Fhw
  .card-3-PmX
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-Vxy {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-Riu .view-all-Lih {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-GMT {
  margin-right: 0.1rem;
  width: 103rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-GMT .self-zoF {
  margin: 0rem 44.8rem 3.8rem 0rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-GMT .auto-group-fpky-77B {
  margin-bottom: 5.9rem;
  width: 100%;
  height: 43.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-Su3 .auto-group-npwx-vHj .news-card-GMT .auto-group-fpky-77B .card-1-Ehb {
  margin-right: 5.2rem;
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-1-Ehb
  .photo-yv5 {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-1-Ehb
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-XRo {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-1-Ehb
  .november-2023-1rm {
  margin: 0rem 0rem 0.3rem 1.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-1-Ehb
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-jXs {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-GMT .auto-group-fpky-77B .card-2-ZWu {
  margin-right: 3.3rem;
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-2-ZWu
  .photo-ht1 {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-2-ZWu
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-3BB {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-2-ZWu
  .november-2023-jZo {
  margin: 0rem 0rem 0.3rem 1.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-2-ZWu
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-Sj7 {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-GMT .auto-group-fpky-77B .card-3-UA1 {
  width: 31.5rem;
  height: 100%;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-3-UA1
  .photo-R5F {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 22.8rem;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-3-UA1
  .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-Li1 {
  margin: 0rem 0rem 0.7rem 1.575rem;
  max-width: 24.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5052273009;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-3-UA1
  .november-2023-EYV {
  margin: 0rem 0rem 0.3rem 1.575rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5052272797;
  color: #848484;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.main-Su3
  .auto-group-npwx-vHj
  .news-card-GMT
  .auto-group-fpky-77B
  .card-3-UA1
  .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-who {
  margin-left: 1.575rem;
  max-width: 24.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .auto-group-npwx-vHj .news-card-GMT .view-all-yeV {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5052274068;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 {
  box-sizing: border-box;
  padding: 3.1rem 10rem 2.4rem 10rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .auto-group-rydb-DHw {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 7.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .auto-group-rydb-DHw .logo-k2y {
  margin-right: 54.5rem;
  width: 19rem;
  height: 6.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .auto-group-rydb-DHw .stay-connected-CvZ {
  width: 50.5rem;
  height: 100%;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-1qfp-xPw {
  margin: 0rem 1.8rem 1.2rem 0rem;
  width: calc(100% - 1.8rem);
  display: flex;
  align-items: center;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-1qfp-xPw
  .stay-connected-HBK {
  margin-right: 8.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-1qfp-xPw
  .stay-update-and-more-into-your-box-QFw {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b {
  width: 100%;
  height: 4.7rem;
  display: flex;
  align-items: center;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b
  .medsos-svD {
  margin: 0.4rem 2rem 0.4rem 0rem;
  box-sizing: border-box;
  padding: 1rem 1.4rem 0.9rem 1.3rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3000000119);
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b
  .medsos-svD
  .instagram-1-yTT {
  margin-right: 2.8rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b
  .medsos-svD
  .youtube-1-h8Z {
  margin: 0rem 2.7rem 0.054rem 0rem;
  width: 2.2001rem;
  height: 1.546rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b
  .medsos-svD
  .twitter-1-1f3 {
  margin: 0rem 3.3rem 0.008rem 0rem;
  width: 2.2rem;
  height: 1.7944rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b
  .medsos-svD
  .facebook-1-w2u {
  width: 1.1rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b
  .rectangle-23-fDo {
  margin-right: 0.4rem;
  width: 19rem;
  height: 4.7rem;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rydb-DHw
  .stay-connected-CvZ
  .auto-group-fjhf-L9b
  .auto-group-gu9t-yVP {
  width: 10.1rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .auto-group-rmgy-q1o {
  margin: 0rem 32.1rem 2.9rem 0rem;
  width: calc(100% - 32.1rem);
  height: 14.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .auto-group-rmgy-q1o .mental-health-office-j7B {
  margin-right: 53.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rmgy-q1o
  .mental-health-office-j7B
  .group-29-jakarta-sUH {
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rmgy-q1o
  .mental-health-office-j7B
  .celvin-heni-puput-safira-sofian-zadan-PSd {
  margin-bottom: 2.9rem;
  max-width: 12.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rmgy-q1o
  .mental-health-office-j7B
  .revou-x-msib-batch-5-hTK {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .auto-group-rmgy-q1o .mhealth-menu-DwT {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .auto-group-rmgy-q1o .mhealth-menu-DwT .mhealth-menu-PL9 {
  margin-bottom: 1.1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-Su3
  .footer-Hv5
  .auto-group-rmgy-q1o
  .mhealth-menu-DwT
  .relationship-thoughts-self-love-society-about-us-tXo {
  max-width: 18.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .credit-zKw {
  box-sizing: border-box;
  padding: 1.2rem 38.1rem 0rem 37.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  border-top: solid 0.1rem #848484;
  flex-shrink: 0;
}
.main-Su3 .footer-Hv5 .credit-zKw .credit-zKw-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, "Source Sans Pro";
}
.main-Su3 .footer-Hv5 .credit-zKw .credit-zKw-sub-1 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Inter, "Source Sans Pro";
}
